.body
{
    background-color: crimson;

}
.padre
{
    padding: 0;
    margin: 0;
    list-style: none;
height: 600px;
    display: flex;

    flex-direction: row;
    /*flex-direction: row-reverse;*/

    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/

    /*flex-wrap: wrap;*/
    /*flex-wrap: wrap-reverse;*/
    /*flex-wrap: nowrap;*/

    /*flex-flow: row-reverse wrap;
    flex-flow: column-reverse wrap;*/

    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/

    /*align-items: stretch;*/
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
    /*align-items: center;*/
    /*align-items: baseline;*/


    /*align-content: flex-start;*/
    /*align-content: flex-end;*/
    /*align-content: center;*/
    /*align-content: space-between;*/
    /*align-content: space-around;*/
}
.hijo
{
    background: tomato;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 10px;

    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.hijo1
{
    order: 1;
    /*flex-grow: 1;*/
}
.hijo2
{
    order: 2;
    /*flex-grow: 1;*/
}
.hijo3
{
    order: 3;
    /*flex-grow: 1;*/
}
.hijo4
{
    order: 4;
    /*flex-grow: 1;*/
    /*align-self: flex-end;*/
}
.hijo5
{
    order: 5;
    /*flex-grow: 1;*/
}